{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
  {% if not message %}
  {% include "core/includes/navbar.html" with current="Leaderboard" %}
  {%endif%}

<!--Main layout-->
<div class="container leaderboard">
    <br>
    {% if message %}
      <h2 class="text-center">{{message.first}}</h2>
      <h3 class="text-center">{{message.second}}</h3>
      <br>
      <hr>
        <center><h1><i class="fas fa-trophy" style="font-size:48px;color:red"></i><b>  Leaderboard</b></h1></center>
    {% else %}
      <center><h1><i class="fas fa-trophy" style="font-size:48px;color:red"></i><b>  Leaderboard</b></h1></center>
    {% endif %}
    <hr>
    <br>

    <input type="text" id="leaderboard-search" onkeyup="leaderboardSearch()" placeholder="Search for names..">

    <table class="table table-striped leaderboard-table">
        <thead>
            <tr>
                <th>#</th>
                <th><b>NAME</b></th>
                <th><b>USERNAME</b></th>
                <th><b>TOTAL ASSET</b></th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ player.user.first_name }} {{ player.user.last_name }}</td>
                <td>{{ player }}</td>
                <td>{{ player.total_value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<!--/Main layout-->

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="{% static "js/leaderboard.js" %}"></script>

{% endblock %}
